* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.continer {
    width: 0 auto;
    margin: auto;
}


/* start header  */

.header {
    /* height: 100vh; */
    width: 100%;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header nav {
    width: 100%;
    padding: 10px 25px;
    border-bottom: 1.5px solid #fff;
    background-color: rgb(7 17 47 / 61%);
    display: flex;
    justify-content: space-between;
}

.header .overlay .logo {
    width: calc(40%);
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 5px 0;
}

.header .overlay .logo a {
    text-decoration: none;
    color: #fff;
}

.header .overlay .right {
    width: calc(60%);
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.header .overlay .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .overlay .bars {
    position: relative;
    transform: translate(-20px, 12px);
    display: none;
}

.header .overlay .bars i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 29px;
    color: #fff;
    position: absolute;
}

.header .overlay .bars i:hover {
    cursor: pointer;
}

.header .overlay ul {
    list-style: none;
    padding-left: 0;
}

.header nav ul li {
    float: left;
    padding: 13px 15px;
    text-transform: uppercase;
}

.header nav ul li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.header section {
    position: relative;
    min-height: 93vh;
    display: flex;
}

.header section .overlay1 {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25));
}

.header section .overlay1 .top {
    width: 682px;
}

.header section .overlay1 .top h1 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    line-height: 60px;
}

.header section .overlay1 .top p {
    color: #fff;
    margin: 25px 0 46px;
    font-weight: 500;
}

.header section .overlay1 a {
    margin: 4px;
    padding: 10px 35px;
    height: 48px;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.2s linear;
}

.header section .top .one {
    background-color: #fff;
    color: black;
    border: 1px solid #fff;
}

.header section .top .two {
    background-color: #8EEC69;
    color: #fff;
    border: 1px solid #8EEC69;
}

.header section .top .two:hover {
    color: #8EEC69;
    background: none;
}

.header section .top .one:hover {
    color: #fff;
    background: none;
}

.header section .botton {
    overflow: hidden;
    height: 50%;
    margin-top: 0;
    padding: 15px;
    float: right;
}

.header section .botton div {
    margin: 4px;
    float: left;
    background-color: #fff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.header section .botton div:nth-child(2) {
    background-color: #8EEC69;
}

.header section .botton div:last-child {
    background-color: #8EEC69;
}

@media (max-width:767px) {
    body {
        text-align: center;
    }
    .continer {
        width: 737px;
        margin: auto;
    }
    .header .overlay ul {
        display: block;
    }
    .header .overlay .list .bars i {
        display: block;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .header section {
        min-height: 460px;
    }
    .header .overlay .right {
        justify-content: flex-end;
        /* justify-content: space-between; */
    }
    .header .overlay .right .list {
        display: none;
        /* display: block; */
        margin-top: 50px;
    }
    .header .overlay ul {
        display: block;
        text-align: center;
    }
    .header .overlay ul li {
        float: none;
    }
    .header .overlay .bars {
        display: block;
    }
}

@media (min-width:768px) {
    .continer {
        max-width: 738px;
    }
}

@media (min-width:992px) {
    .continer {
        width: 1000PX;
    }
}

@media (min-width:1200px) {
    .continer {
        width: 1200px;
    }
}


/* end header  */

.servises {
    padding: 90px 0px;
    overflow: hidden;
}

.servises h1 {
    position: relative;
}

.servises h1::after {
    content: "";
    position: absolute;
    width: 60px;
    border-radius: 10px;
    height: 7px;
    background-color: #8EEC69;
    bottom: -3px;
    right: 47%;
}

.servises header {
    text-align: center;
}

.servises section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servises section article {
    box-shadow: 0px 0px 0px 0px gray;
    margin: 45px 0px 15px 0px;
    padding: 30px 25px;
    width: calc(98%/2);
    height: 286px;
    box-shadow: 0px 0px 5px 0px #80808066;
    transition: all 0.3s;
}

.servises section article .left {
    float: left;
    width: 20%;
    height: 97;
}

.servises section article .right {
    overflow: hidden;
    width: 80%;
    margin-left: 25px;
}

.servises section article .right h3,
.servises section article .right p {
    margin-bottom: 20px;
    margin-left: 10px;
    width: 300px;
}

.servises section article .left img {
    width: 75px;
    word-wrap: initial;
    height: 100%;
}

.servises section article .right a {
    margin: 10px 0px;
    padding: 8px 35px 10px 35px;
    position: absolute;
    /* height: 50px; */
    text-decoration: none;
    font-weight: 300;
    transition: all 0.2s linear;
    color: #fff;
    background-color: #8EEC69;
    border: 1px solid #8EEC69;
}

.servises section article:hover {
    background-color: #071A52;
    color: #ffffff;
    box-shadow: 15px 15px 0 1px rgba(0, 0, 0, 0.2);
}

.servises section article:hover img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.servises section article .right a:hover {
    color: #8EEC69;
    background: none;
}


/* start about  */

.about {
    background-color: #071A52;
    padding: 90px;
    height: 602px;
    display: flex;
    overflow: hidden;
}

.about .continer .left {
    width: 50%;
    height: 422px;
}

.about .continer {
    display: flex;
}

.about .continer .col-2 {
    width: 50%;
    display: flex;
    align-items: center;
}

.about .continer .left img {
    width: 100%;
    height: 100%;
}

.about .continer .right {
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    margin-left: -45px;
    padding: 45px 25px;
    min-height: 333px;
}

.about .continer .right h2 {
    font-size: 32px;
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

.about .continer .right h2::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    bottom: 1px;
    border-radius: 10px;
    background-color: #8EEC69;
}

.about .continer .right p {
    margin: 5px 0 16px;
}

.about .continer .right a {
    padding: 8px 35px 10px 35px;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.2s linear;
    color: #fff;
    background-color: #8EEC69;
    border: 1px solid #8EEC69;
}

.about .continer .right a:hover {
    color: #8EEC69;
    background: none;
}


/* end about */


/* start contrys */

.contrys {
    overflow: hidden;
    padding: 90px 0;
}

.contrys .top {
    text-align: center;
}

.contrys .top h2 {
    text-align: center;
    position: relative;
    font-size: 32px;
    margin-bottom: 6px;
    padding-bottom: 8px;
}

.contrys .top h2::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: #8EEC69;
    border-radius: 10px;
    bottom: 0;
    left: 47%;
}

.contrys .continer .midlle {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contrys .continer .midlle .first {
    position: relative;
    width: calc(94%/3);
    height: 270px;
    margin-top: 45px;
    border-radius: 10px;
}

.contrys .continer .midlle .first:hover img {
    transform: scale(1.2);
}

.contrys .continer .midlle .first .overlay2 {
    position: absolute;
    background-color: #00000047;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 6px;
}

.contrys .continer .midlle .first .imge {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    border-radius: 6px;
    left: 0;
}

.contrys .continer .midlle .first .imge img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.contrys .continer .midlle .first .second {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
}

.contrys .continer .midlle .first .second a {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

.contrys .continer .midlle .first .second a h3 {
    font-weight: 600;
}


/* end contrys */


/* start contact-us */

.contact-us {
    height: 630px;
    position: relative;
}

.contact-us .content-box {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.contact-us .content-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25));
}

.contact-us .content-box img {
    background-size: cover;
    width: 100%;
}

.contact-us .continer {
    padding: 90px 0;
}

.contact-us .continer .top {
    color: #fff;
    margin-bottom: 45px;
}

.contact-us .top h2 {
    position: relative;
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.contact-us .top h2::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: #8EEC69;
    border-radius: 10px;
    bottom: 0;
}

.contact-us .continer .detils {
    height: 350px;
    display: flex;
    width: 850px;
    margin: 0 auto;
}

.contact-us .continer .detils form {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.contact-us .continer .detils form .first-colm {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.contact-us .continer .detils form .second-colm {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.contact-us .continer .detils .first-colm input {
    width: calc(99%/2);
    height: 50px;
    padding: 6px 12px 6px 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
}

.contact-us .continer .detils .second-colm input {
    width: calc(100%);
    height: 120px;
    padding: 1px 2px 1px 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
}

.contact-us .continer .detils .button {
    width: 100%;
    height: 46px;
    position: relative;
    display: flex;
    justify-content: center;
}

.contact-us .continer .detils .button input {
    position: absolute;
    text-transform: uppercase;
    background-color: #8EEC69;
    color: #fff;
    font-weight: 500;
    width: 168px;
    font-size: 16px;
    border: none;
    text-align: center;
    height: 100%;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.contact-us .continer .detils .button input:hover {
    background: none;
    color: #8EEC69;
    border: 1px solid #8EEC69;
    cursor: pointer;
}


/* end contact-us */


/* start people-says  */

.people-says {
    height: 757px;
    padding: 90px 0;
}

.people-says .continer .top {
    color: #000;
}

.people-says .continer .top h2 {
    position: relative;
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: 700;
}

.people-says .continer .top h2::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: #8EEC69;
    border-radius: 10px;
    bottom: 0;
}

.people-says .continer .middle {
    display: flex;
    overflow: hidden;
    margin-top: 45px;
    padding-top: 45px;
    justify-content: space-between;
    height: 382px;
}

.people-says .continer .middle .box {
    position: relative;
    width: calc(97.8%/2);
}

.people-says .continer .middle .box:nth-child(2) {
    position: relative;
    bottom: -50px;
}

.people-says .continer .middle .img-box {
    width: 105px;
    height: 105px;
    margin-left: 25px;
    margin-bottom: 13px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: -50px;
    z-index: 51;
}

.people-says .continer .middle .box .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.people-says .continer .middle .box .middle-box {
    background-color: #071A52;
    color: #fff;
    width: 100%;
    min-height: 252px;
    padding: 70px 25px 25px;
    overflow: hidden;
}

.people-says .continer .middle .box .middle-box h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.people-says .continer .middle .box .middle-box h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.people-says .continer .middle .box .middle-box p {
    padding-right: 10px;
    font-size: 15px;
}

.people-says .continer .bottom {
    display: flex;
    width: 109px;
    justify-content: space-between;
}

.people-says .continer .bottom .icon {
    display: flex;
    width: calc(92%/2);
    text-align: center;
    height: 50px;
    position: relative;
}

.people-says .continer .bottom .icon i {
    width: 100%;
    background-color: #8EEC69;
    color: #fff;
    position: absolute;
    transition: all 0.2s ease;
    height: 100%;
    padding-top: 17.5px
}

.people-says .continer .bottom .icon:hover i {
    background-color: #071A52;
    color: #fff;
    cursor: pointer;
}


/* end people-says  */


/* start section  */

.section {
    height: 311px;
    padding: 75px 0 10px;
    background-color: #05133B;
    color: #fff;
}

.section .detils a {
    text-decoration: none;
    color: #fff;
}

.section .detils {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section .detils .colm-1 {
    width: calc(100% /4);
    padding: 0px 15px;
    margin-bottom: 25px;
}

.section .detils .colm-1 h5 {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
}

.section .detils .colm-1:first-child a {
    display: block;
    margin-bottom: 20px;
    margin-right: 15px;
}

.section .detils .colm-1:first-child span {
    font-size: 24px;
    font-weight: 700;
}

.section .detils .colm-1:nth-child(2) a {
    display: block;
}

.section .detils .colm-1:nth-child(3) a {
    display: block;
    margin-bottom: 10px;
}

.section .detils .colm-1:nth-child(3) a i {
    margin-right: 10px;
}

.section .detils .colm-1:nth-child(4) .sub input {
    width: 100%;
    display: flex;
    padding: 7px 10px;
    height: 38px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 7px;
}

.section .detils .colm-1:nth-child(4) .sub button {
    margin-top: 15px;
    padding: 8px 35px;
    border-radius: 6px;
    background-color: #8EEC69;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
}

.section .detils .colm-1:nth-child(4) .sub button:hover {
    cursor: pointer;
}

.section .detils .colm-1:nth-child(4) .icons a {
    display: inline-block;
    padding-right: 10px;
    margin-top: 25px;
}

.section .detils .colm-1:nth-child(4) .icons i {
    font-size: 20px;
    color: #fff;
}


/* end section  */


/* start footer  */

footer {
    height: 65px;
    background-color: #05133B;
    text-align: center;
    color: #B3B8C5;
}

footer p {
    font-size: 16px;
    padding: 20px;
}

footer p a {
    text-decoration: none;
    color: #B3B8C5;
    font-size: 16px;
}


/* end footer  */